# .gitignore
# Jekyll
_site/
.sass-cache/
.jekyll-metadata
Gemfile.lock

# Astro / Node
node_modules/
dist/
.astro/
npm-debug.log*

# Local source assets
source-assets/

# Bundler
.bundle/
vendor/

# macOS
.DS_Store
